body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 24px;
    padding: 10px;
}

#windy-map {
    width: 100%;
    height: 500px;
}

#alerts-container {
    background: #222;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

#alerts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alert {
    background: #333;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    width: 300px;
    text-align: left;
}
